.warna-1 {
    background-color: #876445;
}

.warna-2 {
    background-color: #CA965C;
}

.warna-3 {
    background-color: #1E293B;
}

.warna-4 {
    background-color: #F4DFBA;
}

.banner {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
}

.kategori-VGA {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('.../images/VGA.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.kategori-CPU {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('CPU.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.kategori-keyboard {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('imagespng');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.highlighted-kategori{
    height: 250px;
}

.no-decoration {
    text-decoration: none;
    color: white;
}

.no-decoration:hover{
    color: #EEC373;
}

.text-harga {
    font-size: 20px;
    color: #CA965C;
}

.banner-produk {
    height: 35vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('images/fish-banner.jpg');
    background-position: 50% 70%;
}