/* Styling the body element */
body{
    background-color: #000406;
}

/* Global styles for all elements */
*{
    font-family: 'inter', sans-serif;
    font-weight: 700;
}

/* Styles for the main container */
.main {
    height: 60vh;
}

/* Styles for the login box */
.login-box {
    width: 500px;
    height: 300px;
    border-radius: 8px;
    background-color: #D3E6FE;
}

/* Styles for the login title section */
.login-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    color: white;
    font-size: 40px;
    font-weight: 700;
}

/* Styles for the login button */
#login-btn {
    background-color: #334155;
    color: white;
}

/* Styles for the login heading */
.login-heading {
    margin-bottom: 30px;
    font-size: 36px;
}
